<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.desired.offermachi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <!-- for OTP read-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

<!--for location-->

    <uses-feature android:name="android.hardware.location.gps" />
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/shortlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false"
        tools:ignore="GoogleAppIndexingWarning">


        <!--
        android:hardwareAccelerated="false" , android:largeHeap="true"
        tools:replace="android:appComponentFactory"-->
        <activity android:name=".customer.view.activity.LocationActivity"/>
        <activity android:name=".customer.view.activity.MainActivity"></activity>
        <activity android:name=".retalier.view.activity.MobileVerifyActivity"></activity>
        <activity android:name=".customer.view.activity.MapActivity" />
        <activity android:name=".customer.view.activity.ProductActivity"/>
        <activity android:name=".retalier.view.activity.RetailerChangePasswordActivity" />
        <activity android:name=".retalier.view.activity.ResetPasswordActivity" />
        <activity android:name=".customer.view.activity.CustomerResetPasswordActivity" />
        <activity android:name=".customer.view.activity.NotificationActivity">
            <intent-filter>
                <action android:name="customer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <activity
            android:name=".customer.view.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.view.activity.ActTestDate"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity
            android:name=".customer.view.activity.ActDashboardCategoryNew"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".customer.view.activity.ActFeedsFilterShow"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".retalier.view.activity.PickLocation"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".customer.view.activity.ActInterestCategoryNew"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".retalier.view.activity.ActAddDealsOftheDay"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".retalier.view.activity.ActRetalierPushOffer"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".retalier.view.activity.ActAddPushOffer"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".customer.view.activity.ActDoNotDisturbSetting"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".customer.view.activity.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customer.view.activity.ActSearchNew"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".customer.view.activity.ActDashboardCategory"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".customer.view.activity.RegistraionAsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.VerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.OtpActivtivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.view.activity.ViewOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.ViewOfferTrendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.ViewAllOfferFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.StoreCouponCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.SmartShoppingRemoveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".customer.view.activity.ViewStoreOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.FilterShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.view.activity.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.RetalierRegistration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.RetalierForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.RetalierVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.RetalierDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.ListOfPeople0fferDiscount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierAddDeals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierCustomerSupportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".retalier.view.activity.RetalierDealsOftheDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierInviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierNotificationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="retailer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".retalier.view.activity.RetalierProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierViewOfferDiscount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierTermsConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.RetalierListPeopleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retalier.view.activity.VerifyCouponcodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".retalier.view.activity.MyLocationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".retalier.view.activity.QRcodeScannerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fdd36ffe60573d427fe3cf7a20600dc8d14270a0" />


     <!--   <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->

    </application>

</manifest>