<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desired.offermachi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/shortlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".retalier.view.activity.VerifyCouponcodeActivity"></activity>
        <activity android:name=".retalier.view.activity.QRcodeScannerActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".customer.ui.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".customer.ui.RegistraionAsActivity" />
        <activity android:name=".customer.ui.LoginActivity" />
        <activity android:name=".customer.ui.RegisterActivity" />
        <activity android:name=".customer.ui.VerifyActivity" />
        <activity android:name=".customer.ui.ForgotPasswordActivity" />
        <activity android:name=".customer.ui.OtpActivtivity" />
        <activity android:name=".customer.ui.CategoryActivity" />
        <activity android:name=".customer.ui.ProductActivity" />
        <activity android:name=".customer.ui.EditProfileActivity" />
        <activity android:name=".customer.ui.ChangePasswordActivity" />
        <activity android:name=".customer.ui.CouponsActivity" />
        <activity android:name=".customer.ui.ViewOfferActivity" />
        <activity android:name=".customer.ui.SmartShoppingSecondActivity" />
        <activity android:name=".customer.ui.SmartShoppigActivity" />
        <activity android:name=".customer.ui.ViewAllOfferFollowActivity" />
        <activity android:name=".customer.ui.StoreCouponCodeActivity" />
        <activity android:name=".customer.ui.SmartShoppingRemoveActivity" />
        <activity android:name=".customer.ui.DoNotDistrubActivity" />
        <activity android:name=".retalier.view.activity.RetalierLogin" />
        <activity android:name=".retalier.view.activity.RetalierRegistration" />
        <activity android:name=".retalier.view.activity.RetalierForgotPassword" />
        <activity android:name=".retalier.view.activity.RetalierVerifyActivity" />
        <activity android:name=".retalier.view.activity.RetalierOtpActivity" />
        <activity android:name=".retalier.view.activity.RetalierDashboard" />
        <activity android:name=".retalier.view.activity.RetalierProfileActivity" />
        <activity android:name=".retalier.view.activity.ListOfPeople0fferDiscount" />
        <activity android:name=".retalier.view.activity.RetalierAddDeals" />
        <activity android:name=".retalier.view.activity.RetalierCustomerSupportActivity" />
        <activity android:name=".retalier.view.activity.RetalierDealsOftheDayActivity" />
        <activity android:name=".retalier.view.activity.RetalierHelpActivity" />
        <activity android:name=".retalier.view.activity.RetalierInviteFriendActivity" />
        <activity android:name=".retalier.view.activity.RetalierNotificationActivity" />
        <activity android:name=".retalier.view.activity.RetalierProductActivity" />
        <activity android:name=".retalier.view.activity.RetalierViewOfferDiscount" />
        <activity android:name=".retalier.view.activity.RetalierPushActivity" />
        <activity android:name=".retalier.view.activity.RetalierStatisticsActivity"/>
        <activity android:name=".retalier.view.activity.RetalierTermsConditionActivity"/>
        <activity android:name=".retalier.view.activity.RetalierListPeopleActivity"/>
        <activity android:name=".customer.ui.SearchActivity" />
        <activity android:name=".customer.ui.CategoryListActivity" />
        <activity android:name=".customer.ui.ViewStoreOfferActivity" />
        <activity android:name=".customer.ui.FilterShowActivity" />
        <activity android:name=".customer.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>