<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desired.offermachi">

    <application
        android:allowBackup="true"
        android:icon="@drawable/shortlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customer.ui.ViewStoreOfferActivity"></activity>
        <activity
            android:name=".customer.ui.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".customer.ui.RegistraionAsActivity" />
        <activity android:name=".customer.ui.LoginActivity" />
        <activity android:name=".customer.ui.RegisterActivity" />
        <activity android:name=".customer.ui.VerifyActivity" />
        <activity android:name=".customer.ui.ForgotPasswordActivity" />
        <activity android:name=".customer.ui.OtpActivtivity" />
        <activity android:name=".customer.ui.CategoryActivity" />
        <activity android:name=".customer.ui.ProductActivity" />
        <activity android:name=".customer.ui.EditProfileActivity" />
        <activity android:name=".customer.ui.ChangePasswordActivity" />
        <activity android:name=".customer.ui.CouponsActivity" />
        <activity android:name=".customer.ui.ViewOfferActivity" />
        <activity android:name=".customer.ui.SmartShoppingSecondActivity" />
        <activity android:name=".customer.ui.SmartShoppigActivity" />
        <activity android:name=".customer.ui.ViewAllOfferFollowActivity" />
        <activity android:name=".customer.ui.StoreCouponCodeActivity" />
        <activity android:name=".customer.ui.SmartShoppingRemoveActivity" />
        <activity android:name=".customer.ui.DoNotDistrubActivity" />
        <activity android:name=".retalier.ui.RetalierAddDeals" />
        <activity android:name=".retalier.ui.RetalierCustomerSupportActivity" />
        <activity android:name=".retalier.ui.RetalierDashboard" />
        <activity android:name=".retalier.ui.RetalierDealsOftheDayActivity" />
        <activity android:name=".retalier.ui.RetalierForgotPassword" />
        <activity android:name=".retalier.ui.RetalierHelpActivity" />
        <activity android:name=".retalier.ui.RetalierInviteFriendActivity" />
        <activity android:name=".retalier.ui.RetalierListPeopleActivity" />
        <activity android:name=".retalier.ui.RetalierLogin" />
        <activity android:name=".retalier.ui.RetalierNotificationActivity" />
        <activity android:name=".retalier.ui.RetalierOtpActivity" />
        <activity android:name=".retalier.ui.RetalierProfileActivity" />
        <activity android:name=".retalier.ui.RetalierPushActivity" />
        <activity android:name=".retalier.ui.RetalierQrActivity" />
        <activity android:name=".retalier.ui.RetalierStatisticsActivity" />
        <activity android:name=".retalier.ui.RetalierTermsConditionActivity" />
        <activity android:name=".retalier.ui.RetalierVerifyActivity" />
        <activity android:name=".retalier.ui.RetalierViewOfferActivity" />
        <activity android:name=".retalier.ui.RetalierViewOfferDiscount" />
        <activity android:name=".retalier.ui.RetalierRegistration" />
        <activity android:name=".customer.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>